body {
    padding-top: 80px;
}

.ft-features-list div.card {
    background-color:#EBF3F7;
}

#ft-features-sortable .card-header {
    cursor: pointer;
}

.ft-features-list .card-header {
    padding: 5px 10px 5px 10px;
}

.ft-features-list .card .card-block {
    padding-top: 0.5rem;
}

.ft-card-icon {
    margin: 0px 3px 3px 0px;
    border-radius: 3px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 3px 1px 0px 3px;
}

#ft-growl-notifications {
    position: absolute;
    top:40px;
    right: 40px;
    z-index:1031;
}
