<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FeatureTrak</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="{{ GOOGLE_CLIENT_ID }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='octicons/octicons.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/overcast/jquery-ui.css">
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <!-- ko ifnot: login.state().is_enabled -->
      <span class="navbar-brand">FeatureTrak</span>
      <!-- /ko -->
      <div style="display:none" data-bind="visible: login.state().is_enabled">
        <a data-bind="click: curPage.bind(curPage, 'home')" class="navbar-brand" href="#">FeatureTrak</a>
      </div>
      <div style="display:none" data-bind="visible: login.state().is_enabled" id="navbar">
        <nav class="nav navbar-nav pull-xs-right">
          <div class="nav-item nav-link active">Logged in as <span data-bind="text: login.state().full_name"></span></div>
          <a data-bind="click:logout" class="nav-item nav-link" href="#">Logout</a>
        </nav>
      </div>
    </nav>

    <div class="container">
      <div style="display:none" class="row" data-bind="visible: breadcrumb().length > 0">
        <ol class="breadcrumb" data-bind="foreach: breadcrumb">
            <!-- ko ifnot: ($root.breadcrumb().length - 1) == $index() -->
              <li class="breadcrumb-item"><a href="#" data-bind="click: $root.curPage.bind($root.curPage, $data.page), text: $data.caption">notlast</a></li>
            <!-- /ko -->
            <!-- ko if: ($root.breadcrumb().length - 1) == $index() -->
              <li class="breadcrumb-item active" data-bind="text: $data.caption">last</li>
            <!-- /ko -->
        </ol>
      </div>
        {# could load only templates that will be actually needed.. #}
        {% include 'home.html' %}
        {% include 'login.html' %}
        {% include 'admin.html' %}
        {% include 'features-client.html' %}
        {% include 'features-staff.html' %}
        {% include 'choose-client.html' %}
      <div id="ft-growl-notifications"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <!-- shamelessly stolen from knockoutjs examples -->
    <script type="text/html" id="ko_simpleGrid_grid">
    {% include 'grid-table.html' %}
    </script>
    <script type="text/html" id="ko_simpleGrid_pageLinks">
    {% include 'grid-pager.html' %}
    </script>
    {% assets filters="jsmin", output="gen/logic.min.js", "knockout.simpleGrid.3.0.js", "logic.js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
