<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FeatureTrak</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/custom.css">
    <link rel="stylesheet" href="/static/octicons/octicons.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/overcast/jquery-ui.css">
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <!-- ko if: FT.loggedUser() == '' --> 
      <span class="navbar-brand">FeatureTrak</span>
      <!-- /ko -->
      <!-- ko ifnot: FT.loggedUser() == '' --> 
      <a data-bind="click: curPage.bind(curPage, 'home')" class="navbar-brand" href="#">FeatureTrak</a>
      <!-- /ko -->
      <!-- ko if: FT.loggedUser() != '' --> 
      <div id="navbar">
        <nav class="nav navbar-nav pull-xs-right">
          <a data-bind="click:logout" class="nav-item nav-link" href="#">Logout</a>
        </nav>
      </div>
      <!-- /ko -->
    </nav>

    <div class="container">
      <div style="display:none" class="row" data-bind="visible: breadcrumb().length > 0">
        <ol class="breadcrumb" data-bind="foreach: breadcrumb">
            <!-- ko ifnot: ($root.breadcrumb().length - 1) == $index() -->
              <li class="breadcrumb-item"><a href="#" data-bind="click: $root.curPage.bind($root.curPage, $data.page), text: $data.caption">notlast</a></li>
            <!-- /ko -->
            <!-- ko if: ($root.breadcrumb().length - 1) == $index() -->
              <li class="breadcrumb-item active" data-bind="text: $data.caption">last</li>
            <!-- /ko -->
        </ol>
      </div>
        {# could load only templates that will be actually needed.. #}
        {% include 'home.html' %}
        {% include 'login.html' %}
        {% include 'admin.html' %}
        {% include 'features-client.html' %}
        {% include 'features-staff.html' %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-debug.js"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js" integrity="sha384-tvhEVHsrzai+guUF4cd0SVl6+tXsWu2ioLB3VR9mjkFuw3fevJVq6aJtxqTLhIv6" crossorigin="anonymous"></script>
    <!-- shamelessly stolen from knockoutjs examples -->
    <script type="text/html" id="ko_simpleGrid_grid">
    {% include 'grid-table.html' %}
    </script>
    <script type="text/html" id="ko_simpleGrid_pageLinks">
    {% include 'grid-pager.html' %}
    </script>
    <script src="{{ url_for('static', filename='knockout.simpleGrid.3.0.js') }}"></script>
    <script src="{{ url_for('static', filename='logic.js') }}"></script>
  </body>
</html>
