<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FeatureTrak</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='octicons/octicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <!-- ko if: FT.loggedUser() == '' --> 
      <span class="navbar-brand">FeatureTrak</span>
      <!-- /ko -->
      <!-- ko ifnot: FT.loggedUser() == '' --> 
      <a data-bind="click: curPage.bind(curPage, 'home')" class="navbar-brand" href="#">FeatureTrak</a>
      <!-- /ko -->
      <!-- ko if: FT.loggedUser() != '' --> 
      <div id="navbar">
        <nav class="nav navbar-nav pull-xs-right">
          <div class="nav-item nav-link active">Logged in as <span data-bind="text: FT.loggedUser()"></span></div>
          <a data-bind="click:logout" class="nav-item nav-link" href="#">Logout</a>
        </nav>
      </div>
      <!-- /ko -->
    </nav>

    <div class="container">
      <div style="display:none" class="row" data-bind="visible: breadcrumb().length > 0">
        <ol class="breadcrumb" data-bind="foreach: breadcrumb">
            <!-- ko ifnot: ($root.breadcrumb().length - 1) == $index() -->
              <li class="breadcrumb-item"><a href="#" data-bind="click: $root.curPage.bind($root.curPage, $data.page), text: $data.caption">notlast</a></li>
            <!-- /ko -->
            <!-- ko if: ($root.breadcrumb().length - 1) == $index() -->
              <li class="breadcrumb-item active" data-bind="text: $data.caption">last</li>
            <!-- /ko -->
        </ol>
      </div>
        {# could load only templates that will be actually needed.. #}
        {% include 'home.html' %}
        {% include 'login.html' %}
        {% include 'admin.html' %}
        {% include 'features-client.html' %}
        {% include 'features-staff.html' %}
    </div>
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tether/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='knockout/knockout-min.js') }}"></script>
    <!-- shamelessly stolen from knockoutjs examples -->
    <script type="text/html" id="ko_simpleGrid_grid">
    {% include 'grid-table.html' %}
    </script>
    <script type="text/html" id="ko_simpleGrid_pageLinks">
    {% include 'grid-pager.html' %}
    </script>
    <script src="{{ url_for('static', filename='knockout.simpleGrid.3.0.js') }}"></script>
    <script src="{{ url_for('static', filename='logic.js') }}"></script>
  </body>
</html>
