<div class="row" style="display:none" data-bind="visible: curPage() == 'featuresClient'">
  <div id="features-client-public" class="col-md-5">
    <h3>Public Feature Requests</h3>
    <div class="card">
        <div class="card-header">
            ey
        </div>
        <div class="card-block">
            <div class="row">
            <p>
            Lorem ipsum etc etc etc
            </p>
            <p class="text-xs-right"><input type="checkbox">Include as priority</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
        Feat 2
        </div>
    </div>
  </div>
  <div id="features-client-client" class="col-md-7">
    <h3>Client Feature Requests</h3>
    <div class="card">
    Propio 1
    </div>
    <div class="card">
    Propio 2
    </div>
  </div>
</div>
<!--
jQuery('#features-client-public').sortable({handle:'.card-header'})
-->
