<div class="row">
  <table class="table table-striped" cellspacing="0">
      <thead>
          <tr>
             <!-- ko foreach: columns -->
             <th data-bind="text: headerText"></th>
             <!-- /ko -->
             <th>Action</th>
          </tr>
      </thead>
      <tbody data-bind="foreach: itemsOnCurrentPage">
          <tr>
             <!-- ko foreach: $parent.columns -->
             <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] "></td>
             <!-- /ko -->
             <td><button class="btn btn-secondary btn-sm"data-bind="click: function() { $root.editFn(id)} "><img src="/static/icons/pencil-16-ns.png">&nbsp;Edit</button>&nbsp;<button class="btn btn-secondary btn-sm"data-bind="click: function() { $root.deleteFn(id)} "><img src="/static/icons/cross-16-ns.png">&nbsp;Delete</button></td>
          </tr>
      </tbody>
  </table>
</div>
