<div class="row">
  <div class="col-xs-4">
    <div class="card">
      <img class="card-img-top w-100" src="https://robohash.org/{{random_string(20)}}">
      <div class="card-block">
        <h4 class="card-title">Manage Clients</h4>
        <p class="card-text">Several clients that currently use BriteCore products</p>
        <a href="#" class="btn btn-primary">Access the CRUD UI</a>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="card">
      <img class="card-img-top w-100" src="https://robohash.org/{{random_string(20)}}">
      <div class="card-block">
        <h4 class="card-title">Manage Areas</h4>
        <p class="card-text">The different Product Areas of BriteCore</p>
        <a href="#" class="btn btn-primary">Access the CRUD UI</a>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="card">
      <img class="card-img-top w-100" src="https://robohash.org/{{random_string(20)}}">
      <div class="card-block">
        <h4 class="card-title">Manage Users</h4>
        <p class="card-text">Control who can access this software</p>
        <a href="#" class="btn btn-primary">Access the CRUD UI</a>
      </div>
    </div>
  </div>
</div>
