<div class="row" style="display:none; " data-bind="visible: curPage() == 'login'">
  <div class="col-md-5">
    <form>
      <h4>Sign in to FeatureTrak</h4>
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Username or email</label>
        <input type="email" id="loginEmail" class="form-control" placeholder="Username or email address" autofocus>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="loginPassword" class="form-control" placeholder="Password">
      </div>
      <button data-bind="click: login.click" class="btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <h5>Alternatively, you can also sign in with your Google Account</h5>
    <div>
      <div class="g-signin2" data-width="250" data-theme="dark" data-longtitle="true" data-height="50" data-onsuccess="onGoogleSignIn"></div>
    </div>
  </div>
</div>
